<ion-header>
</ion-header>

<ion-content>
  <ion-split-pane>
    <ion-menu [content]="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Web Drive</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <button (click)="goToFiles()" ion-item>
            <ion-icon name="document" item-left></ion-icon>My Files
            <ion-icon *ngIf="data.state === 5" name="star-half" item-right></ion-icon>
          </button>
          <button ion-item>
            <ion-icon name="share" item-left></ion-icon>Shared
            <ion-icon *ngIf="data.state === 10" name="star-half" item-right></ion-icon>
          </button>
          <button (click)="goToTrash()" ion-item>
            <ion-icon name="trash" item-left></ion-icon>Trash
            <ion-icon *ngIf="data.state === 15" name="star-half" item-right></ion-icon>
          </button>
          <button ion-item>
            <ion-icon name="cloud-upload" item-left></ion-icon>Upload
          </button>
          <button (click)="logout()" ion-item>
            <ion-icon name="exit" item-left></ion-icon>Logout
          </button>
        </ion-list>

        <div *ngIf="currentUser" id="usage-wrapper">
          <span>{{currentUser.usage}}GB out of {{currentUser.allocated}}GB used. ({{currentUser.usagePercent}}%)</span>
          <div id="usage-container">
            <div id="usage" [style.width.%]="currentUser.usagePercent"></div>
          </div>
        </div>

      </ion-content>
    </ion-menu>

    <ion-nav [root]="activePage" main #content>
    </ion-nav>
  </ion-split-pane>
</ion-content>
