page-drive {
  ion-searchbar .searchbar-input {
    box-shadow: none !important;
  }

  .toolbar-content button span {
    color: black !important;
    text-align: left !important;
    text-transform: lowercase;

    ion-icon {
      padding-right: 8px;
    }
  }

  .drive-title {

    .panel-default > .panel-heading {
      text-transform: uppercase !important;
      font-weight: 600 !important;
    }

    &.files .panel-default > .panel-heading {
      border-bottom: 2px solid blueviolet !important;
    }

    &.folders .panel-default > .panel-heading {
      border-bottom: 2px solid #2b85e2 !important;
    }
  }

  .truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .folder, .file {
    .panel {
      border-radius: 2px;
    }
    .panel-heading {
      padding: 10px 10px !important;
    }
    .folder-title, .file-title {
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.1);
      font-weight: bold;
      color: rgba(0, 0, 0, 0.66);
    }
    .folder-title {
      cursor: pointer;
    }
    .item-checkbox {
      float:right;
      margin-top: 0;
    }
  }
}
