<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchText">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="row drive-title folders">
    <div class="col-xs-12" >
      <div class="panel panel-default" style="border-radius: 0">
        <div class="panel-heading">
          <ion-icon style="cursor:pointer; padding-right: 10px;"
                    *ngIf="data.folderLevels.length > 0" icon-left name="arrow-dropleft-circle"
                    (tap)="exitFolder()"></ion-icon> Folders
          <ion-icon *ngIf="data.state === 5" style="cursor:pointer; margin-left: 10px;" icon-right name="add"
                    (tap)="createFolder()"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let folder of currentFolder.folders | filter:searchText:data.state"
         class="folder col-lg-2 col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center folder-header">
          <ion-checkbox class="item-checkbox"
                        [checked]="selected.has(folder)"
                        (click)="updateSelectedItems(folder)">
          </ion-checkbox>
          <ion-icon name="briefcase" class="fa-5x"></ion-icon>
        </div>
        <div class="panel-body text-muted folder-title truncate" (tap)="enterFolder(folder.id, folder.folder_id)">
          {{folder.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="row drive-title files">
    <div class="col-xs-12">
      <div class="panel panel-default" style="border-radius: 0">
        <div class="panel-heading">Files</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let file of currentFolder.files | filter:searchText:data.state"
         class="file col-lg-2 col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center file-header">
          <ion-checkbox class="item-checkbox"
                        [checked]="selected.has(file)"
                        (click)="updateSelectedItems(file)">
          </ion-checkbox>
          <ion-icon name="document" class="fa-5x"></ion-icon>
        </div>
        <div class="panel-body text-muted file-title truncate">
          {{file.name}}
        </div>
      </div>
    </div>
  </div>

  <!--<h5 hideWhen="android,ios" class="text-center text-muted">Drag Files here to upload.</h5>-->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <span class="hide-on-small" hideWhen="android,ios">
      <button disabled *ngIf="(selected.size > 0) && (data.state === 5)"
              ion-button icon-left clear
              (tap)="shareItems()">
        <ion-icon name="share" aria-label="share"></ion-icon>
        Share
      </button>

      <button *ngIf="(selected.size === 1) && (data.state === 5)"
              ion-button icon-left clear
              (tap)="downloadItem()">
        <ion-icon name="cloud-download" aria-label="download"></ion-icon>
        Download
      </button>

      <button *ngIf="(selected.size > 0) && (data.state === 5)"
              ion-button icon-left clear
              (tap)="deleteItems()">
        <ion-icon name="trash" aria-label="delete"></ion-icon>
        Delete
      </button>

      <button *ngIf="(selected.size === 1) && (data.state === 5)"
              ion-button icon-left clear
              (tap)="renameItem()">
        <ion-icon name="create" aria-label="rename"></ion-icon>
        Rename
      </button>

      <button *ngIf="(selected.size > 0) && (data.state === 15)"
                    ion-button icon-left clear
                    (tap)="restoreItems()">
        <ion-icon name="refresh" aria-label="restore"></ion-icon>
        Restore
      </button>
    </span>

    <button class="hide-on-large"
            ion-button icon-only clear (tap)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>

    <button *ngIf="selected.size > 0" class="pull-right"
            ion-button icon-right clear end
            (tap)="data.clearSelected()">
      <ion-icon name="close" aria-label="unselect"></ion-icon>
      {{selected.size}} Selected
    </button>

  </ion-toolbar>
</ion-footer>




